body {
    margin: 0px;
    padding: 10px;
}

p{
    font-size: 1em;
    margin: .8em 0em;

}

hr{
    margin: 10px 0px;
}

.resultItem {
    border: .1em solid black;
    margin: 10px 0px;
    padding: 8px 10px 8px 10px;
}